<body id="homeTop" class="index" data-pinterest-extension-installed="cr1.3.4">
  <div class="scroll-up">
    <a href="#homeTop">
      <i class="fas fa-angle-double-up"></i>
    </a>
  </div>
 <%= render"shared/navbar" %>
  <section class="et-hero-tabs" class="et-slide" id="tab-es6" id="section1">
    <h1 class="title-name">Alice Rcmll</h1>
    <h5 class="title-description">Développeur Web FullStack Freelance </h5>
    <a href="#tab-react">
      <div class="scroll-down"></div>
    </a>
  </section>

  <!-- Main -->
  <main class="et-main">
     <section class="timeline" id="tab-react">
        <div class="container-about text-center">
          <h1>Parcours</h1>
        </div>
      <ul>
        <li>
          <div>
            <time>Octobre - Décembre 2019</time><br><span>Le Wagon Bootcamp.Certification Professionnelle de Niveau II(Equivalent Bac +3/4),Computer Programming.</span>
          </div>
        </li>
        <li>
          <div>
            <time>Février - Avril 2019</time><br><span>Professeur d'anglais à l'école élémentaire</span>
          </div>
        </li>
        <li>
          <div>
            <time>2017 - 2019</time><br><span>Community manager Freelance  - Assistance de production audiovisuelle</span>
          </div>
        </li>
        <li>
          <div>
            <time>2015 - 2016</time><br><span>Ecole préparatoire de Médecine</span>
          </div>
        </li>
        <li>
          <div>
            <time>2014</time><br><span>Baccalauréat Scientifique - Physique-Chimie</span>
          </div>
        </li>
        <li>
          <div class="outline">
            <time>Télécharger mon CV </time>
           <p><%= link_to image_tag("cv.jpg", width: 80), home_download_pdf_path %></p>
          </div>
        </li>
      </ul>
    </section>

    <section class="et-slide" id="tab-flexbox" id= "section-profil" id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
        <div class="container">
          <div class="row container-profil">
            <div class="col-lg-3 stats">
              <i class="fa fa-code" aria-hidden="true"></i>
              <div class="counting" data-count="40000">0</div>
              <h5>Lignes de code</h5>
            </div>

            <div class="col-lg-3 stats">
              <i class="fa fa-check" aria-hidden="true"></i>
              <div class="counting" data-count="3">0</div>
              <h5>Projets</h5>
            </div>

            <div class="col-lg-3 stats">
              <i class="fa fa-coffee" aria-hidden="true"></i>
              <div class="counting" data-count="999">0</div>
              <h5>Tasses de café</h5>
            </div>
          </div>
        </div>
    </section>

    <section class="et-slide" id="tab-angular" >
      <div id="skills" class="container-fluid amg-skills">
          <h1 id="title-skills">Outils</h1>
          <div class="row">
            <div class="col-xs-6 amg-badge">
             <%= image_tag('ruby.png', class:"img") %>
             <h3 class="title">Ruby</h3>
            </div>
            <div class="col-xs-6 amg-badge">
              <img class="img" src="https://seeklogo.com/images/R/ruby-on-rails-logo-95951CC5FB-seeklogo.com.png" alt="rails">
              <h3 class="title">Rails</h3>
            </div>
            <div class="col-xs-6 amg-badge">
             <%= image_tag('js.png', class:"img" ) %>
             <h3 class="title">JavaScript</h3>
            </div>
            <div class="col-xs-6 amg-badge">
              <%= image_tag('html5.svg', class:"img") %>
              <h3 class="title">HTML5</h3>
            </div>
            <div class="col-xs-6 amg-badge">
              <%= image_tag('css-3.svg', class:"img") %>
              <h3 class="title">CSS3</h3>
            </div>
            <div class="col-xs-6 amg-badge">
             <%= image_tag('heroku.png', class:"img") %>
             <h3 class="title">Heroku</h3>
            </div>
             <div class="col-xs-6 amg-badge">
             <%= image_tag('github.svg', class:"img") %>
             <h3 class="title">Github</h3>
            </div>
            <div class="col-xs-6 amg-badge">
             <%= image_tag('Postgresql.svg', class:"img") %>
             <h3 class="title">Postgresql</h3>
            </div>
            <div class="col-xs-6 amg-badge">
             <%= image_tag('photoshop.png', class:"img") %>
             <h3 class="title">Photoshop</h3>
            </div>
          </div>
      </div>
      <!-- <div class="wrapper">
        <div class="skill">
            <p>Français</p>
            <div class="skill-bar skill1 wow slideInLeft animated">
                <span class="skill-count1">100%</span>
            </div>
        </div>
        <div class="skill">
            <p>Anglais</p>
            <div class="skill-bar skill2 wow slideInLeft animated">
                 <span class="skill-count2">95%</span>
            </div>
        </div>
        <div class="skill">
            <p>Espagnol</p>
            <div class="skill-bar skill3 wow slideInLeft animated">
                <span class="skill-count3">55%</span>
            </div>
        </div>
      </div> -->
    </section>
    <section class="et-slide" id="tab-other">
      <h1 id="title-contact">Contact</h1>
      <h3>Envoyez-moi un message</h3>
    <%= render"shared/formcontact" %>
  </section>
</main>
<%= render"shared/footer" %>
