  <div class="scroll-up bounce">
    <a href="#homeTop">
      <i class="fas fa-angle-double-up"></i>
    </a>
  </div>
  <%= render"shared/navbar" %>

                      <!-- ancienne section acceuil -->
<%= render"shared/header" %>
  <!-- Main -->
  <main class="et-main">
    <%= render"shared/profil" %>

    <section class="et-slide" id= "section-profil" id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
      <div class="container">
        <div class="row container-pro">
          <div class="col-lg-3 stats">
            <h2>Sautez le pas</h2>
          </div>
          <div class="col-lg-3 stats">
            <%= image_tag "gifs.gif", alt: "arrowgif", class:"gif" %>

          </div>
          <div class="col-lg-3 stats">
            <h2>Lancez vous dans le web</h2>
          </div>
        </div>
      </div>
    </section>

    <%= render"shared/services" %>

    <%= render"shared/tools" %>

    <%#= render"shared/card" %>

    <%= render"shared/formcontact" %>

  </main>

<%= render"shared/footer" %>
