  <div class="scroll-up bounce">
    <a href="#homeTop">
      <i class="fas fa-angle-double-up"></i>
    </a>
  </div>
  <%= render"shared/navbar" %>

                      <!-- ancienne section acceuil -->
<%= render"shared/header" %>
  <!-- Main -->
  <main class="et-main">
    <%= render"shared/profil" %>

    <section class="et-slide" id="section-profil">
      <div class="container">
        <div class="row container-profil">
          <div class="col-lg-3 stats" data-aos="fade-up" data-aos-duration="900">
            <i class="fa fa-coffee" aria-hidden="true"></i>
            <h5>Méthodes Agiles</h5>
          </div>
          <div class="col-lg-3 stats" data-aos="fade-up" data-aos-duration="1000">
            <i class="fas fa-vial"></i>
            <h5>Tests unitaires</h5>
          </div>
          <div class="col-lg-3 stats" data-aos="fade-up" data-aos-duration="1900">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h5>Clean Code</h5>
          </div>
        </div>
      </div>
    </section>

    <%= render"shared/services" %>

    <%= render"shared/tools" %>


    <%= render"shared/formcontact" %>

  </main>

<%= render"shared/footer" %>
