 <!-- Hero -->
  <section class="et-hero-tabs">
    <h1>AliceRcmll</h1>
    <h3>FullStack Web Developper</h3>
      <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#tab-es6">Profil</a>
        <a class="et-hero-tab" href="#tab-flexbox">About Me</a>
        <a class="et-hero-tab" href="#tab-react">Skills</a>
<!--         <a class="et-hero-tab" href="#tab-angular">Services</a> -->
        <a class="et-hero-tab" href="#tab-other">Contact</a>
        <span class="et-hero-tab-slider"></span>
      </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="tab-es6" id= "section-profil" id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
        <div class="profil-title">
          <h1>Profil</h1>
      </div>
      <!-- <section id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s"> -->
        <div class="container">
          <div class="row container-profil">
            <div class="col-lg-3 stats">
              <i class="fa fa-code" aria-hidden="true"></i>
              <div class="counting" data-count="40000">0</div>
              <h5>Lines of code</h5>
            </div>

            <div class="col-lg-3 stats">
              <i class="fa fa-check" aria-hidden="true"></i>
              <div class="counting" data-count="3">0</div>
              <h5>Projects done</h5>
            </div>

            <!-- <div class="col-lg-3 stats">
              <i class="fa fa-clock" aria-hidden="true"></i>
              <div class="counting" data-count="450">0</div>
              <h5>Hours at le Wagon</h5>
            </div> -->

            <div class="col-lg-3 stats">
              <i class="fa fa-coffee" aria-hidden="true"></i>
              <div class="counting" data-count="999">0</div>
              <h5>Cups of coffee</h5>
            </div>
          </div>
        </div>
    <!-- </section> -->
    </section>

    <section class="et-slide" id="tab-flexbox">
        <div class="container-about">
          <h1>About Me</h1>
          <!-- <div class="arrow"> -->
           <h5 class="arrow">&darr;</h5>
          <!-- </div> -->
        </div>
        <!--  <h3>something about me</h3>-->
    </section>
     <section class="timeline">
      <ul>
        <li>
          <div>
            <time>2019</time><br><span>Le Wagon batch #325</span>
          </div>
        </li>
        <li>
          <div>
            <time>February-April 2019</time><br><span>English teacher in an elementary school</span>
          </div>
        </li>
        <li>
          <div>
            <time>2017 - 2018</time><br><span>Freelance Community manager - Audiovisual production assistant</span>
          </div>
        </li>
        <li>
          <div>
            <time>2015-2016</time><br><span>Preparatory med-school</span>
          </div>
        </li>
        <li>
          <div>
            <time>2014</time><br><span>Scientific Baccalaureate degree - Physics Chemistry</span>
          </div>
        </li>
        <li>
          <div>
            <time>Find me!</time><h5 class="find-me"> <a href="https://github.com/alircmll" class="fab fa-github"></a>  <a href="https://www.linkedin.com/in/alice-roy-camille-a4236b199/" class="fab fa-linkedin"></a></h5>
          </div>
        </li>
      </ul>
    </section>

    <section class="et-slide" id="tab-react">
      <h1>Skills</h1>
      <!-- <h3>something about me</h3> -->

      <div id="skills" class="container-fluid amg-skills">
        <div class="row amg-badge-collection">
          <div class="col-xs-3 amg-badge">
            <%= image_tag('html5.svg') %>
            <h3 class="title">HTML5</h3>
          </div>
          <div class="col-xs-3 amg-badge">
           <%= image_tag('js.png') %>
           <h3 class="title">JavaScript</h3>
          </div>
          <div class="col-xs-3 amg-badge">
            <%= image_tag('css-3.svg') %>
            <h3 class="title">CSS3</h3>
          </div>
          <div class="col-xs-3 amg-badge">
           <%#= image_tag('css-3.svg') %>
            <img src="https://seeklogo.com/images/R/ruby-on-rails-logo-95951CC5FB-seeklogo.com.png" alt="rails">
            <h3 class="title">Ruby on Rails</h3>
          </div>
           <div class="col-xs-3 amg-badge">
           <%= image_tag('github.svg') %>
           <h3 class="title">Github</h3>
          </div>
          <div class="col-xs-3 amg-badge">
           <%= image_tag('Postgresql.svg') %>
           <h3 class="title">Postgresql</h3>
          </div>
          <div class="col-xs-3 amg-badge">
           <%= image_tag('photoshop.png') %>
           <h3 class="title">Photoshop</h3>
          </div>
        </div>
      </div>
      <div class="wrapper">
      <div class="skill">
            <p>French</p>
            <div class="skill-bar skill1 wow slideInLeft animated">
                <span class="skill-count1">100%</span>
            </div>
        </div>
        <div class="skill">
            <p>English</p>
            <div class="skill-bar skill2 wow slideInLeft animated">
                 <span class="skill-count2">95%</span>
            </div>
        </div>
        <div class="skill">
            <p>Spanish</p>
            <div class="skill-bar skill3 wow slideInLeft animated">
                <span class="skill-count3">55%</span>
            </div>
        </div>
      </div>
        <!-- <div class="skill">
            <p>JAVASCRIP</p>
            <div class="skill-bar skill4 wow slideInLeft animated">
                <span class="skill-count4">65%</span>
            </div>
        </div>
        <div class="skill">
            <p>PHP</p>
            <div class="skill-bar skill5 wow slideInLeft animated">
                <span class="skill-count5">80%</span>
            </div>
        </div>
        <div class="skill">
            <p>WORDPRESS</p>
            <div class="skill-bar skill6 wow slideInLeft animated">
                <span class="skill-count6">90%</span>
            </div> -->
        </div>
    </section>
    <!-- <section class="et-slide" id="tab-angular">
      <h1>Services</h1>
      <h3>something about me</h3>
    </section> -->
    <section class="et-slide" id="tab-other">
      <h1>Contact</h1>
      <!-- <h3>something about me</h3> -->
       <!--  <section class="contact-wrap">
      <form action="https://formspree.io/xwkveaqe" method="POST" class="contact-form">
        <div class="col-sm-6">
          <div class="input-block">
            <label>First Name</label>
            <input type="text" name="first_name" class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-block">
            <label>Last Name</label>
            <input type="text" name="last_name" class="form-control">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="input-block">
            <label>Your email</label>
            <input type="text" name="_replyto" class="form-control">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="input-block">
            <label for="">Message Subject</label>
            <input type="text" name="object" class="form-control">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="input-block textarea">
            <label for="">Drop your message here</label>
            <textarea rows="3" type="text" name="message" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-sm-12">
           <button class="submit" type="submit">Send</button> -->
            <%#= render"shared/btn" %>
          <!-- <div class="frame">
            <input type="submit" id="send"/>
            <label for="send" class="btn-send">SEND MAIL</label>
            <div class="ring"></div>
            <div class="circle"></div>
            <svg class="mail">
              <polyline points="119,1 119,69 1,69 1,1"></polyline>
              <polyline points="119,1 60,45 1,1 119,1"></polyline>
            </svg>
            <svg class="plane">
              <polyline points="119,1 1,59 106,80 119,1"></polyline>
              <polyline points="119,1 40,67 43,105 69,73"></polyline>
            </svg>
          </div>
        </div>
      </form>
    </section> -->

    <%= render"shared/formcontact" %>
  </section>
</main>
<%= render"shared/footer" %>
