<body id="homeTop" class="index" data-pinterest-extension-installed="cr1.3.4">
  <div class="scroll-up bounce">
    <a href="#homeTop">
      <i class="fas fa-angle-double-up"></i>
    </a>
  </div>
 <%= render"shared/navbar" %>
  <section class="et-hero-tabs" class="et-slide" id="tab-es6" id="section1">
    <h1 class="title-name">Alice Rcmll</h1>
    <h5 class="title-description">Développeur Web FullStack Freelance </h5>
    <a href="#tab-react">
      <div class="scroll-down"></div>
    </a>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="tab-profil">

    </section>
      <%= render"shared/tools" %>
      <%= render"shared/card" %>

    <section class="et-slide" id="tab-other">
      <h1 id="title-contact">Contact</h1>
      <!-- <h3><i>- Envoyez-moi un message -</i></h3> -->
    <%= render"shared/formcontact" %>
  </section>
</main>
<%= render"shared/footer" %>
