<section class="timeline" id="tab-react">
  <div class="container-fluid text-center">
    <h1>Outils</h1>
      <ul>
          <li>
            <div class="timeline-contentt">
            <time><h3>Collaboration</h3></time>
          <div class="row row-content">
                <div class="col-sm-4">
                  <%= image_tag('Git.png', class:"img img-timeline") %>
                </div>
                <div class="col-sm-4">
                  <%= image_tag('github.svg', class:"img img-timeline") %>
                </div>
                <div class="col-sm-4">
                  <%= image_tag('slack.png', class:"img img-timeline") %>
                </div>
            </div>
              </div>
          </li>

          <li>
            <div class="timeline-contentt">
              <time><h3>Conception</h3></time>
              <div class="col-md-6">
                <%= image_tag('whim.png', class:"img img-timeline") %>
              </div>
              <div class="col-md-6">
                <%= image_tag('Figma.svg', class:"img img-timeline") %>
              </div>
              <div class="col-md-6">
                <%= image_tag('database.png', class:"img img-timeline") %>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-contentt">
              <time><h3>Développement</h3></time>
              <div class="col-md-6">
                <%= image_tag('ruby.png', class:"img img-timeline") %>
              </div>
              <div class="col-md-6">
                <img class="img img-timeline" src="https://seeklogo.com/images/R/ruby-on-rails-logo-95951CC5FB-seeklogo.com.png" alt="rails">
              </div>
              <div class="col-md-6">
                <%= image_tag('js.png', class:"img img-timeline" ) %>
              </div>
              <div class="col-md-6">
                <%= image_tag('html5.svg', class:"img img-timeline") %>
              </div>
              <div class="col-md-6">
                <%= image_tag('css-3.svg', class:"img img-timeline") %>
              </div>
              <div class="col-md-6">
                <%= image_tag('jquer.png', class:"img img-timeline" ) %>
              </div>
              <div class="col-md-6">
                <%= image_tag('Boots.png', class:"img img-timeline" ) %>
              </div>
              <div class="col-md-6">
                <%= image_tag('Postgresql.svg', class:"img img-timeline") %>
              </div>
              <div class="col-md-6">
                <%= image_tag('mailchimp.png', class:"img img-timeline") %>
              </div>
              <div class="col-md-6">
                <%= image_tag('stripe.png', class:"img img-timeline stripe") %>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-contentt">
              <time><h3>Production</h3></time>
              <div class="col-md-6">
                <%= image_tag('heroku.png', class:"img img-timeline") %>
              </div>
            </div>
          </li>
      </ul>
  </div>
</section>


